/*body{
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
h1{
  background:linear-gradient(to right ,pink,white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  animation: mySlide 2s linear 0s 1 running;
}
@keyframes mySlide {
  from{margin-left: 100%;}
  to{margin-right: 0%;}
}
  .but1{
    text-transform: uppercase;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  .but2{
    text-transform: uppercase;
    background-color: white;
    color: rgb(0, 123, 255);
    border-color:rgb(0,123,225);
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
  }
  .but3{
    text-transform: capitalize;
    color: white;
    background-color: rgb(2,158,255);
    font-weight: bold;
    border-radius: 18px;
    border:none;
    padding: 10px;
    cursor: pointer;
  }*/
  a{
    color:rgb(0, 123, 255);
    transition: color 1s;
  }
  a:hover{
    color: purple;
  }
  p2{
    color: green;
  }
  .but1{
    background-color: rgb(255, 208, 0);
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 150px;
    margin-right: 15px;
    cursor: pointer;
    transition: opacity 1s;
  }
  .but2{
    background-color: rgba(255, 157, 0, 0.803);
    height: 30px;
    width: 150px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: opacity 1s;
    transition: height 2s;
    transition: width 2s;
  }
  .but1:hover{
    opacity: 0.7;
  } 
  .but2:hover{
    opacity: 0.7;
    height: 50px;
    width:200px;
  }
  